Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
BaseTools/BaseToolsBuild/
bin/
lib/
lib64
mu_nasm.2.15.5/
pyvenv.cfg
Support/
VM/ubuntu-20.04.3-desktop-amd64.iso
VM/vm.disk
